
app/*
!app/src
app/src/*
!app/src/main
app/src/main/*
!app/src/main/res
app/src/main/res/*

!app/src/main/res/layout
app/src/main/res/layout/*
!app/src/main/res/layout/activity_detail.xml


!app/src/main/java
app/src/main/java/*
!app/src/main/java/com
app/src/main/java/com/*
!app/src/main/java/com/barryzea
app/src/main/java/com/barryzea/*
!app/src/main/java/com/barryzea/unsplashapp
app/src/main/java/com/barryzea/unsplashapp/*
!app/src/main/java/com/barryzea/unsplashapp/di
app/src/main/java/com/barryzea/unsplashapp/di/*
!app/src/main/java/com/barryzea/unsplashapp/di/AppModule.kt


!app/src/main/java/com/barryzea/unsplashapp/ui
app/src/main/java/com/barryzea/unsplashapp/ui/*
!app/src/main/java/com/barryzea/unsplashapp/ui/view
app/src/main/java/com/barryzea/unsplashapp/ui/view/*
!app/src/main/java/com/barryzea/unsplashapp/ui/view/DetailActivity.kt

!app/src/main/java/com/barryzea/unsplashapp/model
app/src/main/java/com/barryzea/unsplashapp/model/*
!app/src/main/java/com/barryzea/unsplashapp/model/repository
app/src/main/java/com/barryzea/unsplashapp/model/repository/*
!app/src/main/java/com/barryzea/unsplashapp/model/repository/DataSource.kt



*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
